<a href="https://colab.research.google.com/github/edgar-ian-rmz/Ejercicios-de-computadoras-y-programacion/blob/main/19_Nov_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Concepto de  asignacion
I = 0
I = I + 1
print(f"I={I}")
J=5**2/3
print(f"J={J}")

In [11]:
# Declarcacion de variables 
A = 0
B = 0
C = 0
D = 0

A = int ( input("Dame un valor entero:") )
B = int ( input("Dame un valor entero:") )
C = int ( input("Dame un valor entero:") )
D = int ( input("Dame un valor entero:") )

print (D)
print (C)
print (B)
print (A)

Dame un valor entero:10
Dame un valor entero:20
Dame un valor entero:30
Dame un valor entero:40
40
30
20
10

In [8]:
#ejemplo 1.7
A=0
B=0
A=int( input("Dame un entero:"))
B=int( input("Dame otro entero:"))
RES = ( A + B )** 2 / 3
print(RES)

Dame un entero:14
Dame otro entero:-5
27.0

In [36]:
# ejemplo 1.8
MAT = 0
CAL1 = 0 
CAL2 = 0
CAL3 = 0
CAL4 = 0
CAL5 = 0
PRO = 0.0

MAT = int (input("Dame la matricula:"))
CAL1 = float (input("Dame la calificacion 1:"))
CAL2 = float (input("Dame la calificacion 2:"))
CAL3 = float (input("Dame la calificacion 3:"))
CAL4 = float (input("Dame la calificacion 4:"))
CAL5 = float (input("Dame la calificacion 5:"))
PRO = ( CAL1 + CAL2 + CAL3 + CAL4 + CAL5 ) / 5

print (MAT, PRO)

Dame la matricula:1
Dame la calificacion 1:9
Dame la calificacion 2:8
Dame la calificacion 3:7
Dame la calificacion 4:9
Dame la calificacion 5:10
1 8.6

In [32]:
num = int(input("Number: "))
print(num ** 2)
print(num ** 3)

Number: 7
49
343

In [42]:
#ejemplo 1.10
BASE = int(input("Base:"))
ALTURA = int(input("Altura:"))

per = ( BASE + ALTURA ) * 2
area = (BASE * ALTURA)

print (f"Perimetro {per}" )
print (f"Area {area}")

Base:7
Altura:9
Perimetro 32
Area 63